* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html, body {
    margin: 0;
    height: 100%;
}

header {
    /* padding: 27px 0; */
    background: #0e0e0e;
}

header .wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.header-h {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .6px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-h::before {
    content: '';
    display: inline-block;
    width: 27px;
    min-height: 41px;
    margin-right: -1px;
    content: url(./css_imgs/logo.png);
    background-repeat: no-repeat;
}

header nav {
    width: 100%;
    float: right;
}

header ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 0;

}

header ul li a {
    display: inline-block;
    margin-right: 36px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;   
}


header ul li a:hover {
    color: #3AB6B2;
}

.burger {
    display: none;
    padding: 11.2px;
    border: 1px solid #ffffff;
    outline: 1.8px solid #3AB6B2;
    background: #3AB6B2;
  } 

.burger div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 3px;
    background: #ffffff;
    border: 1px solid #ffffff;
    outline: 1.8px solid #3AB6B2;
    background: #3AB6B2;
  } 
  
.burger div:last-of-type {
    margin-top: -0.5px;
}


@media screen and (max-width: 767px){
    header nav {
        display: none;
        padding: 30% 0;
    }
    .burger {
        display: block;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1024px){
    header nav {
        display: none;
    }
    .burger {
        display: block;
        margin-right: 15px;
    }
    .header-h {
        margin-left: 5%;
    }
}

@media screen and (min-width: 1200px){
    header nav {
        width: auto;
        margin: auto;
    }
    header ul {
        width: auto;
    }
}