.services {
    position: relative;
    padding: 143px 0 150px;
    background-color:#292929;
    width: 100%;
}

.services  h3 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.title.service {
    top: 0;
    display: flex;
    position: relative;
    align-items: center;
    left: 0;
}

.services_wrap {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.polygon {
    width: 295px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.polygon::before {
    content: '';
    display: block;
    width: 136px;
    height: 163px;
    margin-bottom: 25px;
    margin-left: 25%;
    background-image: url(./css_imgs/polygon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.polygon:hover::before {
    background-image:url(./css_imgs/over_polygon.svg),url(./css_imgs/polygon_fill.svg);
    background-position: center, center;
    background-size: 92%;
}

.polygon::after {
    content: '';
    display: block;
    width: 136px;
    height: 163px;
    margin-top: -105%;
    position: relative;
    margin-left: 25%;
    background-image: url(./css_imgs/stat.svg);
    background-repeat: no-repeat;
    background-position: center; 
}

.polygon.people::after {
    background-image: url(./css_imgs/visitors.svg);
}

.polygon.sales::after {
    background-image: url(./css_imgs/sale.svg);
}

.polygon_content {
    text-align: center;
}

.polygon_content h3 {
    color: #3AB6B2;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


.polygon_content p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: .02em;
    line-height: 22px;
}



@media screen and (max-width: 767px){
    .service {
        margin-top: -10%;
    }
    .services_wrap {
        margin: -20% 0;
        display: inline;
        justify-content: center;
        padding: 0 4%;
    }

    .polygon_content {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 1250px){
    .services_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


